%p
  Your license type is: 
  %span= license.license_type.name
%p
  Expires at:
  %span= license.expires
%p
  Maximum courses:
  %span= license.max_courses || "Unlimited"
%p
  Maximum students:
  %span= license.max_students || "Unlimited"
%p
  Your last payment was:
  %span= license.payments.last.amount_usd

= link_to "Renew", edit_license_path(license)