.form-item
  = payment_form.input :first_name, label: "First Name"
.form-item
  = payment_form.input :last_name, label: "Last Name"
.form-item
  = payment_form.input :organization, label: "Organization"
.form-item
  = payment_form.input :phone, label: "Phone"
.form-item
  = payment_form.input :addr1, label: "Address 1"
.form-item
  = payment_form.input :addr2, label: "Address 2"
.form-item
  = payment_form.input :country, label: "Country"
.form-item
  = payment_form.input :state, label: "State"
.form-item
  = payment_form.input :zip, label: "Zip Code"
.form-item
  %label(for="card-element")
    Credit or debit card
  %div#card-element
  %div#card-errors
