.pageContent
  %h1 License GradeCraft

  = render partial: "layouts/alerts", locals: { model: @license }

  %p We’re thrilled that you want to purchase a license of GradeCraft! We care about you helping your students to succeed; that’s why with any option you choose, we have online help and pedagogical support to help you along the way. So let’s find the option that’s best for your needs!

  = simple_form_for @license, html: { method: :post, id: "payment-form" } do |l|
    = l.simple_fields_for :payments do |p|
      %section.form-section
        .form-item
          = l.association :license_type, collection: LicenseType.where.not("hide"), include_blank: false, as: :radio_buttons
          = render partial: "payment_fields", locals: { payment_form: p }
        .form-item
          = l.submit "Submit Payment"
