<div class="wrapper dashboard" id="main_wrapper">
  <% if current_user.any_course_professor? %>
    <% if @current_user.subscription && (@current_user.subscription.failed_last_payment? || @current_user.subscription.abandoned_last_payment?) %>
      <% content_for :scripts do %>
        <script type="text/javascript">
          var userSubscriptionInfo = {
            expires: "<%= @current_user.subscription.renewal_date %>",
            failedLastPayment: "<%= @current_user.subscription.failed_last_payment? %>",
            abandonedLastPayment: "<%= @current_user.subscription.abandoned_last_payment? %>",
            withinGracePeriod: "<%= @current_user.subscription.within_grace_period? %>",
            endOfGracePeriod: "<%= @current_user.subscription.end_of_grace_period %>",
          }
          store.dispatch("addUserSubscriptionInfo", userSubscriptionInfo)
        </script>
      <% end %>
    <% end %>
    <guide-control data-component></guide-control>
    <overview-instructor data-component></overview-instructor>
  <% elsif current_user.is_global_admin? %>
    <adminindex data-component></adminindex>
  <% else %>
    <guide-control data-component></guide-control>
    <overview-student data-component></overview-student>
  <% end %>
</div>
