Good news, #{@owner.first_name}!

Your requested analytics export for course "#{@course.course_number} #{@course.name}" was successfully created.

You can download your completed ZIP archive using this link below:
#{secure_download_url(@secure_token)}
This link will expire after one week.

You can also download the analytics export from the downloads page here: #{downloads_url}.
 
Thanks for being gameful!
GradeCraft
