%td.hero_img
  = image_tag "email-hero_Sad.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Uh oh, #{@owner.first_name}

  %p
    Your requested analytics export for course
    %strong
      #{@course.course_number} #{@course.name}
    failed to complete.

  %p
    Our system administrators have been notified of the problem, but you may send an additional email to
    %a{:href => "mailto: #{@admin_email}"} #{@admin_email}
    if you’d like. We apologize for any inconvenience this may cause.

  %p
    Sincerely,
    %br
    GradeCraft
