%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Good news, #{@owner.first_name}!

  %p
    Your requested analytics export for course
    %strong
      #{@course.course_number} #{@course.name}
    was successfully created.

  %p{:align => "center"}
    You can visit
    = succeed "." do
      %a{:href => "#{ downloads_url }"} to download the analytics export from the downloads page

  %p
    Thanks for being gameful!
    %br
    GradeCraft
