%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Announcement for #{@announcement.course.name}

  %div
    %p
      = @announcement.abstract.html_safe

    %p
      —#{@announcement.author.name}

  %p
    To read more, please visit
    = link_to announcement_url(@announcement), announcement_url(@announcement)

  %p
    Play on!
    %br
    GradeCraft
