%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    You’ve got a new grade!
  %p
    Hi #{ @student.first_name }, you can now view your grade for
    #{ @course.assignment_term.downcase }
    %strong
      #{ @assignment.name }
    in #{ @course.name }.

  =link_to "View your results!", assignment_url(@assignment)
  
  - if @course.show_grade_predictor?
    %p
      Don’t forget to update your plan for the semester by checking your
      = succeed "." do
        = link_to "#{ @course.grade_predictor_term }", predictor_url

  %p
    Play on!
    %br
    GradeCraft
