%h2{:align => "center"}
  %strong Congratulations #{ @student.first_name }!
%h3{:align => "center"}
  You've acheived the
  %strong= @learning_objective.name
  #{ @course.learning_objective_term.singularize }.
%p
%hr/
%p{:align => "center"}
  Check out what other #{ @course.learning_objective_term.downcase } you can
  earn in #{ @course.name }
  = link_to "here", learning_objectives_objectives_url
%hr/
