%h2{:align => "center"}
  %strong Congratulations #{ @student.first_name }!
%h3{:align => "center"}
  You've acheived the
  %strong= @learning_objective.name.singularize
  #{ @course.learning_objective_term }.
%p
%hr/
%p{:align => "center"}
  Check out what other #{ @course.learning_objective_term.downcase } you can
  earn in #{ @course.name }
%hr/
