%td.hero_img
  = image_tag "email-hero_Sad.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Help me, GradeCraft Admin!

  %p
    I had a problem authenticating this user/course via LTI:

  %div
    %p
      User:
      %strong
        #{ @user_data[:name] }
    %p
      Email:
      %strong
        #{ @user_data[:email] }

    %p
      LTI UID:
      %strong
        #{ @user_data[:lti_uid] }

    %p
      Course:
      %strong
        #{ @course_data[:name] }

    %p
      LTI UID:
      %strong
        #{ @course_data[:lti_uid] }

  %p
    Please halp. It is the end of days.

  %p
    Woe is me,
    %br
    The GradeCraft Server
