Hi, #{ @user.first_name }

Thanks for renewing your GradeCraft subscription! We received your payment, and we’re excited to have you continue using GradeCraft.

As a reminder, here are the details for your subscription:

Subscription type: ????? What is this type Automatic Monthly Renewal
Number of included courses: #{ @subscription.courses.count }
Subscription cost: $#{ @subscription.cost_per_month }/month
Renews on: #{ @subscription.renewal_date.strftime("%A, %B %e, %Y") }

Your currently subscribed courses:
- @subscription.courses.each do |course|
  = course.name

Your subscription will renew monthly on the renewal date until you end your subscription.

Please don’t hesitate to reach out to us if you have any questions!

Kindly,
GradeCraft
