%td.hero_img
  = image_tag "email-hero_Sad.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Hi, #{ @user.first_name }

  %p
    Oh no! We tried to process your payment, but unfortunately it was not successful.
  %p
    =link_to "Please log in to GradeCraft", subscriptions_url
    to update your account details so we can keep the trains running!
  %p
    As a reminder, here are the details for your subscription:

  %div
    %p
      %strong Subscription type:
      ????? What is this type, thinking all are probably: Automatic monthly renewal
      %br
      %strong Number of included courses:
      #{ @subscription.courses.count }
      %br
      %strong Subscription cost:
      &#36;#{ @subscription.cost_per_month }/month
      %br
      - if @subscription.renewal_date
        %strong Renews on:
        #{ @subscription.renewal_date.strftime("%A, %B %e, %Y") }

    %p
      %strong Your currently subscribed courses:
      %br
      - @subscription.courses.each do |course|
        %p= course.name

  %p
    Please don’t hesitate to reach out to us if you have any questions!
  %p
    Kindly,
    %br
    GradeCraft
