Hi, #{ @user.first_name }

Oh no! We tried to process your payment, but unfortunately it was not successful.

Please log in to GradeCraft to update your account details so we can keep the trains running!
You can log in here:
subscriptions_url

As a reminder, here are the details for your subscription:

Subscription type: ????? What is this type Automatic Monthly Renewal
Number of included courses: #{ @subscription.courses.count }
Subscription cost: $#{ @subscription.cost_per_month }/month
Renews on: #{ @subscription.renewal_date.strftime("%A, %B %e, %Y") }

Your currently subscribed courses:
- @subscription.courses.each do |course|
  = course.name

Please don’t hesitate to reach out to us if you have any questions!

Kindly,
GradeCraft
