Hi #{ @professor.first_name },

#{ @student.first_name } #{ @student.last_name } has submitted their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

Visit GradeCraft to view their submission:
= dashboard_url

Go gameful!
GradeCraft
