%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Hi, #{ @professor.first_name }

  %p
    %strong
      #{ @student.first_name } #{ @student.last_name }
    has submitted their #{ @course.assignment_term.downcase }
    %strong
      #{ @assignment.name }
    for course
    %strong
      #{ @course.name }.

  %p
    Visit GradeCraft to view their submission.

  =link_to dashboard_url
    %button View new submission

  %p
    Go gameful!
    %br
    GradeCraft
