%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Great work, #{ @student.first_name }!

  %p
    You successfully unlocked the #{@unlocked_item.class.name.downcase}
    %strong
      #{@unlocked_item.name} in your class #{@course.name}!

  %p
    Play on!
    %br
    GradeCraft
