%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Salutations, GradeCraft Admin!

  %p
    = "Attached is the report for all courses created between #{@dates[:last_month]}"
    = "and #{@dates[:today]}."

  %p
    Enjoy!
    %br
    The GradeCraft Server
