%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Hello, #{ @professor.first_name }

  %p
    Your requested export for #{ @course.assignment_term.downcase}
    %strong
      #{ @assignment.name }
    in course #{ @course.name } is being created.

  %p
    You’ll be notified when your ZIP archive is ready to download.

  %p
    Thanks for being gameful!
    %br
    The GradeCraft Team
