%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Good news, #{ @professor.first_name }!

  %p
    Your requested submissions export for #{ @course.assignment_term.downcase}
    %strong
      #{ @assignment.name }
    was successfully created for course #{ @course.name }.

  %p
    You can
    = succeed ". This link will expire after one week." do
      %a{ :href => secure_download_url(@secure_token) } download your completed ZIP archive here

  %p
    You can also
    = succeed "." do
      %a{:href => "#{ downloads_url }"} download the submissions archive from the submissions downloads page

  %p
    Thanks for being gameful!
    %br
    GradeCraft
