%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Good news, #{ @professor.first_name }!

  %p
    Your requested submissions export of #{ @course.assignment_term.downcase}
    %strong
      #{ @assignment.name }
    in course #{ @course.name } was successfully created for #{ @course.team_term.downcase }
    %strong
      #{ @team.name }.

  %p
    You can visit
    = succeed "." do
      %a{:href => "#{ downloads_url }"} to download the submissions archive from the submissions downloads page

    %p
      Thanks for being gameful!
      %br
      GradeCraft
