.form-wrapper
  %section.form-section
    %h2.form-title Admin Only
    .form-item
      = f.input :status, label: "Active?", hint: " Is this an active course?"
    .form-item
      = f.input :has_paid, label: "Has Paid?", hint: " If this course is not at Michigan, has it been paid for? This affects whether or not instructors can add users."
    .form-item
      = f.input :allows_canvas, label: "Allows Canvas?", hint: " Does this course allow integration with Canvas?"
    .form-item
      = f.input :disable_grade_emails, label: "Disable Grade Emails?", hint: " Emails are not sent to students upon the release of a grade"
    .form-item
      = f.input :export_date_range_enabled, label: "Enable Export Date Range Selection?", hint: " Are certain exports in the Course Data Exports page allowed to be exported using a specified date range in this course? (This option currently applies to: Assignment Submissions Exports)"
    .form-item
      = f.input :export_date_range_days, label: "Set the maximum number of days in the date range selected for which a Course Data Export can be exported", hint: "This option only applies to Course Data Exports for which exporting using a date range is possible"
    .form-item
      = f.association :institution, collection: Institution.all, prompt: "Select an institution"
