<html>
  <head>
    <meta/>
    <meta/>
    <title>
      <%= "#{@title.titleize} - " if @title %>
      <%= "GradeCraft" %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet"></link>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= render partial: "layouts/favicon" %>
    <%= javascript_include_tag "https://cdn.statuspage.io/se-v2.js" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="new_style">
    <%= render partial: "layouts/content" %>
  </body>
  <%= render partial: "layouts/stripe" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= yield(:scripts) %>
</html>
