%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      = "#{@title.titleize} - " if @title
      = "GradeCraft"
    %link{:href => "https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css", :rel => "stylesheet"}
    %script{:src => "https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"}
    = stylesheet_link_tag "application", media: "all"
    = render partial: "layouts/favicon"
    = javascript_include_tag "https://cdn.statuspage.io/se-v2.js"
    = csrf_meta_tags
    = yield(:head)

  %body.new_style= render partial: "layouts/content"

  = render partial: "layouts/stripe"
  = javascript_include_tag "application", "data-turbolinks-track": true
  = yield(:scripts)
